@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
  position: relative;
}

.container {
  margin: auto;
  width: 30em;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  background: url("fundo.jpg") no-repeat;
  background-size: contain;
  background-position: top center;
}

#particles-js {
  background-size: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
}

.social-media-container-left{
  width: 40%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  left: 1em;
  position: relative;
}

.social-media-container-right {
  width: 40%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  right: 1em;
  position: relative;
}

.social-media-container-left a,
.social-media-container-right a {
  text-decoration: none;
  color: #ffffff;
  background: #000;
  border-radius: 50%;
  border-right: 5px solid #fad470;
  font-size: 45px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.item-1{
  align-self: center;
}
.item-2{
  align-self: flex-start;
}
.item-2-2{
  align-self: flex-end;
}

.info-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  padding: 50px 30px 20px;
  width: 100%;
  height: 100%;
  color: black;
  overflow: hidden;
  position: relative;
}

@keyframes content-show {
  0% {
    left: 100%;
    visibility: hidden;
  }
  100% {
    left: 0;
    visibility: visible;
  }
}

@keyframes content-hide {
  0% {
    left: 0;
    visibility: visible;
  }
  100% {
    left: 100%;
    visibility: hidden;
  }
}