@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
  position: relative;
}

.container {
  margin: auto;
  width: 350px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: absolute;
  flex-direction: column;
}

img.banner{
  width: 100%;
  height: calc(100vh - 30vh);
}
img.logo{
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: auto;
  top: -10vh;
}

.social-media-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: -15vh;
}

.social-media-container a {
  text-decoration: none;
  color: #ffffff;
  background: #000;
  border-radius: 50%;
  border-right: 5px solid #fad470;
  font-size: 35px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.info-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  padding: 50px 30px 20px;
  width: 100%;
  height: 100%;
  color: black;
  overflow: hidden;
  position: relative;
}

.link {
  margin: 15px auto;
  width: 100%;
  height: 45px;
  font-size: x-large;

  display: flex;
  justify-content: center;
  align-items: center;
  top: -10vh;
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 16px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;

  -webkit-box-shadow: 4px 4px 18px -5px rgba(179, 179, 179, 0.72);
  -moz-box-shadow: 4px 4px 18px -5px rgba(179, 179, 179, 0.72);
  box-shadow: 4px 4px 18px -5px rgba(179, 179, 179, 0.72);
}

.link i{
  padding: 10px;
}